   h1 {
       margin: 0 auto;
       text-align: center;
   }
   header {
       width: 100%;
   }
   header>ul {
       display: inline-block;
       width: 100%;
       margin: 0;
       padding: 0;
       list-style-type: none;
   }
   header>ul>li {
       color: red;
       text-align: center;
       display: inline-block;
       margin: 0;
       padding: 0;
       width: 30%;
   }
   header>ul:after {
       content: ".";
       visibility: hidden
   }
   main {
       width: 100%;
       text-align: center;
   }
   section:first-line {
       color: red;
       vertical-align: top;
   }
   section {
       display: inline-block;
       width: 30%;
       margin: 0 0.5rem;
       text-align: left;
   }
